.card {
  line-height: 1rem !important;
  flex-shrink: 0;
  min-height: 10rem;
  width: 100%;
}

.card :global(.ant-card-body) {
  padding: 1rem !important;
  font-family: monospace;
}

.content {
  font-size: 12px;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
